<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
    <link rel="stylesheet" href="theme.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container pt-5" id="app" v-cloak>
        <div class="card center">
            <div v-html="myHtml"></div>
        <!-- <h1>{{title}}</h1>
        <h2 v-text="title"></h2>
        <h2 v-once>{{title}}</h2>
        <h2 v-pre>{{title}}</h2>

        <button 
            class="btn" 
            @click="title='New title'"
        >Change title</button> -->
        <div class="form-control">
            <input type="text" @keyup.enter="addItem($event)" ref="myInput">
        </div>
        <ul class="list" v-if="array.length">
            <!-- <li class="list-item" v-for="(item, idx) in 7">{{item}}</li> -->
            <li class="list-item" 
            v-for="(item, idx) in array" 
            @click="array.splice(idx,1)"
            :key="item"
            >{{item}}<input type="text" @click.stop>
            </li>
            <li class="list-item" v-for="value in person">{{value}}</li>
        </ul>
        <h3 v-else>Nothing to display</h3>
    </div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>